/* layout */
.wrapper {
  margin: 30px;
  border: solid orangered;
  display: flex;
  flex-wrap: wrap;
}

.list-of-contents{
  border: solid green;
  margin: 15px;
  padding: 0px 20px 0px 20px;
}


/*components */
/* TEXTS */
h1, h2{
  font-family: $brand-font;
  font-size: $paragraph-font-size;
  color: $paragraph-color;
}

p {
  font-family: $paragraph-font;
}


/* LINKS */
a {
  text-decoration: none;
  color: $color-link;
  font-family: $brand-font;
}

.link-hover a:hover{
  color: $link-hover;

} 

/* BUTTONS */
.btn{
  margin: 10px;
  padding: 10px 20px;

  border-radius: 5px;
  font-family: $brand-font;
  color: $white;
  border: none;
}

.btn-grey{
  background-color: $grey;
}

.btn-grey-hover{
  background-color: $grey;
}

.btn-grey-hover:hover{
  cursor: pointer;
  background-color: $low-grey;
}

.btn-orange{
  background-color: $orange;
}

.btn-orange-hover{
  background-color: $orange;
}

.btn-orange-hover:hover{
  cursor: pointer;
  background-color: $hover-orange;
}

.btn-disabled{
  background-color: $low-grey;
}

/* CHECKBOX LIST */
ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 14px; 
}

.checkbox-label{
  font-family: $brand-font ;
  margin: 7px;
}

input{
  height: 18px;
  width: 18px;
} 

.check-box-hover ul{
  width: 280px;
  height: 40px;
}

.check-box-hover ul:hover{
  background-color: $lower-grey;
  cursor: pointer;
}

/* INPUTS */
.inputs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

textarea{
  width: 160px;
  height: 120px;
  resize: none;
  padding: 10px;
  font-family: $brand-font ;
  font-size: 14px;
  border-radius: 5px;
  margin: 2px;
}

input[type=text]:hover, [type=password]:hover, textarea:hover{
  cursor: pointer;
  border: solid 2px $paragraph-color;
}

input[type=text], [type=password]{
  width: 159px;
  height: 18px;
  font-family: $brand-font;
  font-size: 14px;
  margin: 10px 0px;
  padding: 10px;
}

.inputs-texts-hover{
  margin: 10px;
}

/* TABLE WITH LINK */
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd ;
  height: 40px;
  font-family: $brand-font;
  color: $paragraph-color;
}

table {
  width: 320px;
  border-collapse: collapse;
}

.table-with-link{
  margin-top: 10px;
}

tr a {
  margin-left: 187px;
}

.hover-tab:hover{
  background-color: $lower-grey ;
  cursor: pointer;
}