/* Colors */
$paragraph-color: #858383;
$brand-main-color: #ff0000;
$link-hover: #cfc1b5;
$color-link: #56819F;
$white: #F5F5F2;
$grey: #979797;
$low-grey: #B7B7B7;
$lower-grey: #dad8d8;
$orange: #F58220;
$hover-orange: #FFA200;
$black:#333333;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;